$font : 'Roboto';
$primary : #2A2E35;
$secondary : #12181B;
$tri :#707070;
$yel : #E69A02;
$gre : #0CD297;
$blue : #00AEE3;


@mixin flexbox($pos,$dir) {
    display: flex;
    flex-direction: $dir;
    justify-content: $pos;
    align-items: center;
}

// Css grid, col_num refers to the number of columns

@mixin grid($col_num) {
    display: grid;
    grid-column: auto;
    grid-template-columns: repeat($col_num,1fr);
    grid-gap: 35px;
}

// body{
//     font-family: $font;
//     background-color: $secondary;
// }