@import './main.scss';

.menu{
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $primary;
    @include flexbox(flex-end,row);

    svg{
        color:$tri;
        width: 30px;
        margin:0 30px;
    
    }
    
}